<!-- <div id="headControls">
    {{name}}
    <label for="">Name</label>
    

    <button (click)="createScene()">Empty
    </button>    
    <button (click)="createBox()">Add Box
        </button>    
        <button (click)="updateText()">Update
            </button>   
    <br>
</div> -->
{{name}}
<label for="">Name</label>
<input (keyup)="onKeyUpName($event)">
<p>{{name}}</p>

    <button (click)="createScene()">Empty
    </button>    
    <button (click)="createBox()">Add Box
        </button>    
        <button (click)="updateText()">Update
            </button>   
    <br>


<div  #rendererContainer></div>

Calculator down here

