<div id="headControls">
    {{name}}
    <label for="">Name</label>
    <input type="text" class="form-control"  [(ngModel)]="name" name="name" id="name" placeholder="" required >

    <button (click)="createScene()">Empty
    </button>    
    <button (click)="createBox()">Add Box
        </button>    
        <button (click)="updateText()">Update
            </button>   
    <br>
</div>

<div  #rendererContainer></div>

Calculator down here


<input type="text" class="form-control"  [(ngModel)]="amount" name="amount" id="amount" placeholder="" required >
